section{
      display: flex;
      margin-top: 50px;
      margin-left: 35px;
      padding-left: 20px; 
      margin-bottom: 80px;     
}
.width{
      width: 50%;
      padding-left: 30px;
}
.width img{
      width: 80%
}
.header-1{
      font-size: 80px;
}
span{
      color: rgb(236, 64, 33);
}
#header-4{
      font-size: large;
      padding-right: 50px;
}
.link-button{
      text-decoration: none;
      background-image: linear-gradient(orange, tomato);
      font-size: large;
      font-weight: 800;
      color: white;
      border-radius: 30px;
      padding: 10px;
}
#paragraph{
      font-size: large;
      padding-right: 50px;  
      font-weight: 700; 
      
}
.banner{
      background-image: url(7.png);
      background-repeat: no-repeat;
      

}
.image img{
      width: 50%;
}
.recipes{
      font-size: 50px;
      color: tomato;
      text-align: center;
}
.para-2{
      margin-left: 5%;
      margin-right: 5%;
      font-size: 20px;
      font-weight: 600;
      color: rgb(236, 10, 10);
      box-shadow: 10px 10px 30px red;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 10px;
      border-left: 10px solid pink;
      border-top: 10px solid pink;
      margin-bottom: 10px;

}
.flexible-container{
      display: flex;
      margin-left: 30px;
      padding-left: 10px;
      padding-right: 10px;
      
}
.food-item{
      box-shadow:  10px 10px 30px rgb(233, 102, 102);
      padding-left: 15px;
      padding-right: 15px;
      text-align: justify;
      border-radius: 15px;
      border-left: 5px blue solid;
      margin: 20px;
      border-top: 5px blue solid;

}
.food-item img{
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 2%;
      border-radius: 60px;
}
#chicken-pakora-image{
      width: 80%;
} 
#recipes{
      box-shadow: 15px 15px 30px black;
      margin-left: 20%;
      margin-right: 20%;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-left: 5px rgb(66, 241, 13) solid;
      border-top: 5px rgb(66, 241, 13) solid;
      border-radius: 20px;
}
h4{
    font-size: 30px;  
    font-weight: 700;
    color: maroon;
}
h6{
      font-size: 17px;
      font-weight: 700;
      color: olivedrab;
}
#container{
      display: flex;
      box-shadow: 10px 10px 30px red;
      margin-top: 90px;
      margin-bottom: 30px;
      margin-left: 30px;
      margin-right: 20px;
      padding-left: 30px;
      font-size: 20px;
      font-weight: 800;
      border-radius: 40px;
      border-left: 5px tomato solid;
      border-top: 10px orange solid;
}
footer{
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 200px;
      margin-top: 150px;
}